

//PASTELY PURPLE/GREEN
// $light-100: #F4ECD6;
// $light-200: #A7CAB1;
// $light-400: #88B7B5;
// $light-600: #847996;
// $light-800: #310A31;

//DEEPER BURGUNDY AND BLUE - weird? but ok
// $light-100: #83B5D1;
// $light-200: #7698B3;
// $light-400: #726E97;
// $light-600: #7F557D;
// $light-800: #673C4F;




//Dark blue and pale green - could be fine?
// $light-100: #C2E7D9;
// $light-200: #A6CFD5;
// $light-400: #26408B;
// $light-600: #0F084B;
// $light-800: #0D0221;




//cool green - might be classy...don't like white?
// $light-100: #FFFFFF;
// $light-200: #E1E5F2;
// $light-400: #BFDBF7;
// $light-600: #1F7A8C;
// $light-800: #022B3A;


//BLUE - least shuffling
$light-100: #CAF0F8;
$light-200: #90E0EF;
$light-400: #00B4D8;
$light-600: #0077B6;
$light-800: #03045E;



$dark-faded: #00000047;



// $white: #FFFFFF;

$rose-200: #fbd2e694;

// $violet-000: #F3F0FF;
// $violet-200: #D0BFFF;
// $violet-400: #9775FA;
// $violet-800: #6741D9;

// $grape-700: #b130d2;
$blue-pale: #fff718;

$blue-pale: #f5f8fa;
$blue-000: #d3edff;
$blue-200: #A5D8FF;
$blue-400: #70b9f5;
$blue-600: #329bf6;
// $blue-800: #1284ef;
$blue-900: #1864AB;
$blue-1000: #05213d;


$teal-000: #b8e5d6bc;
$teal-100: #9febd2d0;
$teal-200: #9eecd4c7;
$teal-400: #45d5aac1;
$teal-600: #095b41;
$teal-700: #062f22;
$teal-800: #1b1d1d;
$teal-900: #021d14;


// $lime-200: #D8F5A2;
$lime-500: #94d82dbb;
$lime-700: #74B816;
// $lime-800: #66A80F;

// $yellow-000: #f9faea;
// $yellow-500: #5dea9d;


$dark-000: #dcf9f2;
$dark-200: #6e6e6e;
$dark-400: #1d1d20;
$dark-700: #1c1c1d;

// $black: #000000;


// // Party Colors:
$party-1: #42214f;
$party-2: #084962;
$party-3: #9f4b72;
$party-4: #0086bbba;
$party-5: #320143;
// $party-pale: #f0e8f3ab;
$party-pale: #c3b2c9;

$party-bright-1: #8041ce;
$party-bright-2: #1e9dc3;
$party-bright-3: #4da42a;