// find more at: https://mantine.dev/theming/extend-theme/


$white: #FFFFFF;

$yellow-000: #f9f7ec;


$violet-000: #F3F0FF;
$violet-200: #D0BFFF;
$violet-400: #9775FA;
$violet-800: #6741D9;



$blue-000: #E7F5FF;
$blue-200: #A5D8FF;
$blue-600: #228BE6;
$blue-800: #1971C2;


$teal-000: #E6FCF5;
$teal-100: #C3FAE8;
$teal-200: #96F2D7;
$teal-400: #38D9A9;
$teal-700: #0CA678;
$teal-900: #087F5B;


$lime-200: #D8F5A2;
$lime-500: #94D82D;


$dark-000: #C1C2C5;
$dark-400: #373A40;
$dark-700: #1A1B1E;

$black: #000000;