// find more at: https://mantine.dev/theming/extend-theme/


// $white: #FFFFFF;

$rose-200: #fbd2e6;

// $violet-000: #F3F0FF;
// $violet-200: #D0BFFF;
// $violet-400: #9775FA;
// $violet-800: #6741D9;

// $grape-700: #b130d2;
$blue-pale: #fff718;

$blue-pale: #f5f8fa;
$blue-000: #d3edff;
$blue-200: #A5D8FF;
$blue-400: #70b9f5;
$blue-600: #329bf6;
// $blue-800: #1284ef;
$blue-900: #1864AB;
$blue-1000: #05213d;


$teal-000: #beecdd;
$teal-100: #9febd2;
$teal-200: #9eecd5;
$teal-400: #45d5aa;
$teal-600: #095b41;
$teal-700: #062f22;
$teal-800: #1b1d1d;
$teal-900: #021d14;


// $lime-200: #D8F5A2;
$lime-500: #94D82D;
$lime-700: #74B816;
// $lime-800: #66A80F;

// $yellow-000: #f9faea;
// $yellow-500: #5dea9d;


$dark-000: #dcf9f2;
$dark-200: #6e6e6e;
$dark-400: #1d1d20;
$dark-700: #1c1c1d;

// $black: #000000;


// // Party Colors:
$party-1: #42214f;
$party-2: #084962;
$party-3: #9f4b72;
$party-4: #0086bb;
$party-5: #320143;
$party-pale: #f0e8f3;

$party-bright-1: #8041ce;
$party-bright-2: #1e9dc3;
$party-bright-3: #4da42a;