@use '../abstracts/colors' as *;


.dark {
////////////////////////////////////////////////////////

////////////////////////////////////////////////////////


  background-color: $teal-800;
  // background: repeating-linear-gradient(
  //   45deg,
  //   $dark-700 0%,
  //   $teal-700 10%,
  //   $dark-700 0%,
  //   $teal-900 50%
  // )
  // 0 / 15px 15px;

  // background: repeating-linear-gradient(45deg, $teal-700, $teal-000 15%, $teal-400 20%);

  // background: repeating-linear-gradient(190deg, $teal-700 40px,
  // $teal-400 50px, $teal-100 60px,
  // $teal-900 70px, $dark-700 180px, $teal-700 220px,
  // $teal-400 230px, $teal-100 240px,
  // $teal-900 250px, $dark-700 300px, $teal-700 370px,
  // $teal-400 380px, $teal-100 390px,
  // $teal-900 400px );

  // repeating-linear-gradient(-190deg, $teal-400 30px,
  // $teal-100 60px, $teal-900 90px,
  // $teal-700 120px, $teal-400 150px,
  // $teal-100 180px, $teal-900 210px,
  // $teal-700 230px);
  // repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
  // rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
  // rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
  // rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
  // rgba(255, 0, 0, 0.5) 230px);
// repeating-linear-gradient(23deg, red 50px, orange 100px,
//   yellow 150px, green 200px, blue 250px,
//   indigo 300px, violet 350px, red 370px);


  h1 {
    color: $teal-000;

  }

  input {
    color: $teal-000;
    background-color:  $teal-800;
    border: 0;
    padding-left: .5rem;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    outline: 0 !important;
    &::placeholder {
      color: $teal-000;
    }
  }



  //delve banner
  .banner {
    background-color: $teal-900;
    color: $teal-000;

    h1 {
      font-size: 5rem;
      animation: neonGlow 1s ease-in-out infinite alternate;


    }

    @keyframes neonGlow {
      from {
      text-shadow: 0 0 2px $teal-000, 0 0 4px $teal-100, 0 0 8px $teal-200, 0 0 16px $teal-400,
      0 0 24px $teal-600, 0 0 48px $teal-700;
      }
      to {
        text-shadow: 0 0 1px $teal-000, 0 0 3px $teal-100, 0 0 4px $teal-200, 0 0 8px $teal-400,
        0 0 12px $teal-600, 0 0 24px $teal-700;
      }
    }
  }

  .fa-solid {
    color: $teal-000;
  }

  .fa-moon {
    box-shadow: 0rem 0rem .8rem .5rem $teal-100;
  }

  //welcome banner
  .d-flex {
    background-color: $teal-700;
  }

  .nav-banner.buttons button {
    background-color: $teal-700;
    color: $teal-000;
    border-bottom: .1rem  $teal-100;
    &:hover {
      background: lighten($teal-700, 3%);
      box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    }
  }

  //rooms sidebar
  .bg-success {
    background-color: $teal-400 !important;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    .fa-trash {
      color: $teal-700 !important;
    }
  }

  .bg-primary {
    background-color: $teal-700 !important;
    color: $teal-000;
    box-shadow: 0rem 0rem .3rem .1rem $teal-000;
  }

  .delete-confirmation {
    background-color: $party-pale;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;

    .delete-yes {
      background-color: $party-1;
      color: $party-pale;
      &:hover {
        background-color: lighten($party-1, 5%);
      }
    }

    .delete-no {
      background-color: $party-2;
      color: $party-pale;
      &:hover {
        background-color: darken($party-2, 5%);
      }
    }

  }



  //middle section
  .mark-complete {
    border-color: $teal-200;
    color: $teal-000;
  }

  .great-work {
    color: $teal-100;
  }

  .progress-bar {
    color: $teal-100 !important;
  }

  .room-change-message {
    background-color: $teal-600;
    box-shadow: .01rem .05rem .4rem .08rem $teal-100;
    color: $teal-000;
  }



  //chat section
  .chat-window {
    box-shadow: 0rem 0rem .4rem .2rem $teal-000;
    border: .02rem solid;
  }

  .chat-window .chat-body {
    background-color: $dark-700;
    color: $teal-000;

    
  }

  .chat-window .chat-header {
    background-color: $teal-700;
    color: $teal-000;
    // box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    border-bottom: .02rem solid $teal-000 ;
  }

  #other .message-content {
    background-color: $teal-400;
    color: $teal-900;
    // box-shadow: .01rem .05rem .1rem .1rem $teal-000;
    // margin-bottom: .1rem;
  }

  #you .message-content {
    background-color: $teal-200;
    color: $dark-700;
    // box-shadow: .01rem .05rem .1rem .1rem $teal-000;
  }

  .chat-window .chat-footer {
    border-top: .02rem solid $teal-000;

    input {
      border-right: .02rem solid $teal-000;
    }
  }

  .chat-footer button {
    background-color: $teal-700 !important;
    color: $teal-000;

    &:hover {
      background-color: $teal-600  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-900;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }

  }


  //members section
  .room-members {
    background-color: $dark-700;
    box-shadow: 0rem 0rem .4rem .2rem $teal-000;
    color: $teal-000;

    h3 {
      
      color: $teal-000;
    }
    .add-member {
      background-color: $teal-700;
      color: $teal-000;
      box-shadow: 0rem 0rem .06rem .06rem $teal-100;
      &:hover {
        background-color: lighten($teal-700, 10%);
        transform: translateY(-.05rem) translateX(.05rem);
        // box-shadow: .01rem .05rem .2rem .08rem $dark-400;
      }
        
    }

    .member-name {
      img {
        filter: contrast(200%);
        filter: rotate(95deg);
        // filter: brightness(1.2);
      }
    }

  }

  .romm-members-header {
    background-color: $teal-700 !important;
    border-bottom: .01rem solid $teal-000;
  }

  .add-member-yes {
    background-color: $teal-600;
    color: $teal-100;

    &:hover {
      background-color: lighten($teal-700, 10%);
      // color: lighten($rose-200, 5%);
    }
  }

  .add-member-no {
    background-color: darken($rose-200, 6%);
    &:hover {
      background-color: darken($rose-200, 50%);
      color: lighten($rose-200, 5%);
    }
  }

  .name-error {
    color: $dark-700;
  }

  // input {
  //   background-color: $blue-pale;
  // }



  //create room 
  .create-room {
    background-color: $teal-700;
    box-shadow: .01rem .09rem .3rem .08rem $teal-000;
  }

  .create-room button {
    background-color: $teal-200 !important;
    &:hover {
      background-color: $teal-000  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-000;
      transform: translateY(-.03rem) translateX(.03rem);
    }
  
  }


  .form-label {
    color: $teal-000;

  }



  .form-control {
    background-color: $dark-000;

  }

  .form-control:focus {
    background-color: $dark-000;

  }






  input {
    background-color: $dark-700;
  }





}