@use '../abstracts/colors' as *;


.dark {
  background-color: $teal-800;
  background: repeating-linear-gradient(
    45deg,
    #2b2b2b 0%,
    #2b2b2b 10%,
    #222222 0%,
    #222222 50%
  )
  0 / 15px 15px;

  h1 {
    color: $teal-000;

  }



  //delve banner
  .banner {
    background-color: $teal-900;
    color: $teal-000;

    h1 {
      font-size: 5rem;
      animation: neon1 1s ease-in-out infinite alternate;


    }

    @keyframes neon1 {
      from {
      text-shadow: 0 0 2px $teal-000, 0 0 4px $teal-100, 0 0 8px $teal-200, 0 0 16px $teal-400,
      0 0 24px $teal-600, 0 0 48px $teal-700;
      }
      to {
        text-shadow: 0 0 1px $teal-000, 0 0 3px $teal-100, 0 0 4px $teal-200, 0 0 8px $teal-400,
        0 0 12px $teal-600, 0 0 24px $teal-700;
      }
    }
  }

  .fa-solid {
    color: $teal-000;
  }

  .fa-moon {
    box-shadow: 0rem 0rem .8rem .5rem $teal-100;
  }

  //welcome banner
  .d-flex {
    background-color: $teal-700;
  }

  .nav-banner.buttons button {
    background-color: $teal-700;
    color: $teal-000;
    &:hover {
      background: lighten($teal-700, 3%);
      box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    }
  }

  //rooms sidebar
  .bg-success {
    background-color: $teal-400 !important;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    .fa-trash {
      color: $teal-700 !important;
    }
  }

  .bg-primary {
    background-color: $teal-700 !important;
    color: $teal-000;
    box-shadow: 0rem 0rem .3rem .1rem $teal-000;
  }

  .delete-confirmation {
    background-color: $teal-100;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;

    .delete-yes {
      background-color: $teal-600;
      color: $teal-000;
      &:hover {
        background-color: darken($rose-200, 70%);
        color: lighten($rose-200, 5%);
      }
    }

    .delete-no {
      background-color: $teal-600;
      color: $teal-000;
      &:hover {
        background-color: $teal-800;
        color: lighten($rose-200, 5%);
      }
    }

  }



  //middle section
  .mark-complete {
    border-color: $teal-200;
    color: $teal-000;
  }

  .great-work {
    color: $teal-100;
  }



  //chat section
  .chat-window {
    box-shadow: 0rem 0rem .4rem .2rem $teal-000;
    border: .02rem solid;
  }

  .chat-window .chat-body {
    background-color: $dark-000;
    
  }

  .chat-window .chat-header {
    background-color: $teal-700;
    color: $teal-000;
  }

  #other .message-content {
    background-color: $teal-800;
    color: $teal-000;
  }

  #you .message-content {
    background-color: $teal-600;
    color: $teal-000;
  }

  .chat-footer button {
    background-color: $teal-700 !important;
    color: $teal-000;

    &:hover {
      background-color: $teal-600  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-900;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }

  }


  //members section
  .room-members {
    background-color: $teal-000;
    box-shadow: 0rem 0rem .4rem .2rem $teal-000;

    h3 {
      background-color: $teal-700;
      color: $teal-000;
    }
    .add-member {
      background-color: $teal-600;
      color: $teal-000;
      &:hover {
        background-color: lighten($teal-600, 10%);
        transform: translateY(-.05rem) translateX(.05rem);
        // box-shadow: .01rem .05rem .2rem .08rem $dark-400;
      }
        
    }

  }

  .add-member-yes {
    background-color: $teal-700;
    color: $teal-100;
    &:hover {
      background-color: lighten($teal-700, 10%);
      // color: lighten($rose-200, 5%);
    }
  }

  .add-member-no {
    background-color: darken($rose-200, 6%);
    &:hover {
      background-color: darken($rose-200, 50%);
      color: lighten($rose-200, 5%);
    }
  }

  input {
    background-color: $blue-pale;
  }



  //create room 
  .create-room {
    background-color: $teal-700;
    box-shadow: .01rem .09rem .3rem .08rem $teal-000;
  }

  .create-room button {
    background-color: $teal-200 !important;
    &:hover {
      background-color: $teal-000  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-000;
      transform: translateY(-.03rem) translateX(.03rem);
    }
  
  }


  .form-label {
    color: $teal-000;

  }



  .form-control {
    background-color: $dark-000;

  }

  .form-control:focus {
    background-color: $dark-000;

  }






  input {
    background-color: $dark-000;
  }





}