@use '../abstracts/colors' as *;


.dark {
  background-color: $teal-800;

  h1 {
    color: $teal-000;

  }

  //delve banner
  .banner {
    background-color: $teal-900;
    color: $teal-000;
  }

  .fa-solid {
    color: $teal-000;
  }

  .fa-moon {
    box-shadow: 0rem 0rem .8rem .5rem $teal-100;
  }

  //welcome banner
  .d-flex {
    background-color: $teal-700;
  }

  .nav-banner.buttons button {
    background-color: $teal-700;
    color: $teal-000;
    &:hover {
      background: lighten($teal-700, 3%);
      box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    }
  }

  //rooms sidebar
  .bg-success {
    background-color: $teal-400 !important;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    .fa-trash {
      color: $teal-700 !important;
    
      &:hover {
  
      }
    }
  }

  .bg-primary {
    background-color: $teal-700 !important;
    color: $teal-000;
    box-shadow: 0rem 0rem .3rem .1rem $teal-000;
  }



  //middle section
  .mark-complete {
    border-color: $teal-200;
    color: $teal-000;
  }

  .great-work {
    color: $teal-100;
  }



  //chat section
  .chat-window {
    box-shadow: 0rem 0rem .4rem .2rem $teal-000;
    border: .02rem solid;
  }

  .chat-window .chat-body {
    background-color: $dark-000;
    
  }

  .chat-window .chat-header {
    background-color: $teal-700;
    color: $teal-000;
  }

  #other .message-content {
    background-color: $teal-800;
    color: $teal-000;
  }

  #you .message-content {
    background-color: $teal-600;
    color: $teal-000;
  }

  .chat-footer button {
    background-color: $teal-700 !important;
    color: $teal-000;

    &:hover {
      background-color: $teal-600  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-900;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }

  }


  //create room 
  .create-room button {
    background-color: $teal-200 !important;
    &:hover {
      background-color: $teal-000  !important;
      box-shadow: .01rem .05rem .3rem .08rem $teal-000;
      transform: translateY(-.03rem) translateX(.03rem);
    }
  
  }


  .form-label {
    color: $teal-000;

  }



  .form-control {
    background-color: $dark-000;

  }

  .form-control:focus {
    background-color: $dark-000;

  }






  input {
    background-color: $dark-000;
  }





}