@use '../abstracts/colors' as *;

.light {
  background-color: $blue-000;

  h1, h2, h3 {
    color: $blue-1000;
  }

  input {
    background-color: $blue-pale;
    &:focus {
      background-color: $blue-pale;
    }
  }

  //delve banner
  .banner {
    background-color: $blue-600;
    color: $blue-1000;
  }

  .fa-solid {
    color: $dark-700;
  }


  .fa-sun {
    box-shadow: 0rem 0rem .8rem .5rem $blue-900;
  }

  //welcome banner
  .d-flex {
    background-color: $teal-200;
  }

  .nav-banner.buttons button {
    background-color: $teal-200;
    color: $dark-700;
    border-bottom: .3rem ridge $teal-100;
    &:hover {
      background: lighten($teal-200, 3%)
    }
  }

  //rooms sidebar
  .bg-success {
    background-color: $teal-400 !important;
    box-shadow: .01rem .05rem .2rem .1rem $teal-700;
  }

  .bg-primary {
    background-color: $blue-600 !important;
  }

  //middle section

  .mark-complete {
    border-color: $teal-400;
    color: $teal-700;
  }

  .great-work {
    color: $blue-600;
  }


  //chat section

  .chat-window {
    box-shadow: .01rem .05rem .4rem .08rem $teal-700;
  }

  .chat-window .chat-header {
    background-color: $teal-400;
    color: $blue-1000;
  }

  .chat-body {
    background-color: $blue-pale;
  }

  #other .message-content {
    background-color: $teal-200;
    color: $blue-1000;
  }

  #you .message-content {
    background-color: $blue-200;
    color: $blue-1000;
  }

  .chat-footer button {
    background-color: $blue-400 !important;
    &:hover {
      background-color: $blue-200  !important;
      box-shadow: .01rem .05rem .3rem .08rem $blue-900;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }
  }


  //create room page
  .create-room .back-button {
    background-color: $teal-200 !important;
    box-shadow: .01rem .05rem .3rem .08rem $teal-600;
    // color: $blue-pale;
    &:hover {
      background-color: $teal-000  !important;
      // box-shadow: .01rem .05rem .3rem .08rem $teal-600;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }
  
  }


  .create-room-form button {
    background-color: $teal-200 !important;
    box-shadow: .01rem .05rem .3rem .08rem $teal-600;
    // color: $blue-pale;
    &:hover {
      background-color: $teal-000  !important;
      // box-shadow: .01rem .05rem .3rem .08rem $teal-600;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }
  }
  //   border: 0;
  //   width: 97vw;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
    
  //   .form-entry {
  //     padding: .3rem 0;
  //     input {
  //       width: 20rem;
  //       border: 0;
  //       // border-radius: 3%;
  //       border: .06rem solid;
  //       &:focus {
  //         outline: 0;
  //         border: .1rem solid;
  //         // border-radius: 3%;
  //       }
  //     }
  
  //   }
  
  //   button {
  //     // border: .06rem solid;;
  //     border: 0;
  //     // border-radius: 5%;
  //     padding: .3rem;
  //   }
  
  // }

}