@use '../abstracts/colors' as *;

.party {

  background: linear-gradient(270deg, $party-4, $party-1, $party-2, $party-5);
  background-size: 600% 600%;
  animation: AnimationName 2s linear 4;

  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  h1 {
    color: $party-pale;
  }


  .login, .w-100 {
    color: $party-pale;

    .me-2, button {
      background-color: $party-2 !important;
      color: $light-100;
      &:hover {
        transform: translateY(-.1rem) translateX(.1rem);
        box-shadow: 0rem .1rem .1rem .05rem $teal-000;
      }
  
    }
  }

  input {
    background-color: $party-pale;
  }


  //delve banner
  .banner {
    background-color: $party-1;
    color: $party-pale;
  }

  .fa-solid {
    color: $party-pale;
  }

  .fa-cake-candles {
    box-shadow: 0rem 0rem .8rem .5rem $teal-000;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }


  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to  {
        transform:rotate(360deg);
    }
  }


  //welcome banner
  .d-flex {
    background-color: $party-4;
  }

  .nav-banner.buttons button {
    background-color: transparent;
    color: $party-pale;
    border-bottom: .1rem solid $party-pale;
    &:hover {
      background: darken($party-4, 15%);
      box-shadow: .01rem .05rem .2rem .1rem $party-pale;
      // color: $dark-700;
    }
  }



  //starting page
  .homepage-message-no-rooms, .homepage-message, .welcome-message {
    color: $party-pale;
    img {
      filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(220deg) saturate(200%);
    }
  }

  //rooms sidebar
  .bg-success {
    background-color: $party-4 !important;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;
    color: $party-pale;
  }

  .bg-success:hover {
    background-color: $teal-000 !important;
    color: $dark-700;

    .fa-trash {
      color: $party-1 !important;
    }
  }


  .bg-primary {
    background-color: $party-1 !important;
    color: $teal-000;
    box-shadow: 0rem 0rem .3rem .1rem $teal-000;
    color: $party-pale;
  }

  .bg-primary:hover {
    background-color: $teal-000 !important;
    color: $dark-700;

    .fa-trash {
      color: $party-1 !important;
    }
  }


  .delete-confirmation {
    background-color: $party-pale;
    box-shadow: .01rem .05rem .2rem .1rem $teal-000;

    .delete-yes {
      background-color: $party-1;
      color: $party-pale;
      &:hover {
        background-color: darken($rose-200, 60%);
        color: lighten($rose-200, 5%);
      }
    }

    .delete-no {
      background-color: $party-1;
      color: $party-pale;
      &:hover {
        background-color: $party-2;
        color: lighten($rose-200, 5%);
      }
    }

  }


  //middle section
  .mark-complete {
    border-color: $teal-200;
    color: $party-pale;
  }
  
  .great-work {
    color: $teal-000
  }

  .progress-bar {
    color: $party-pale !important;
  }


  .room-change-message {
    background-color: $party-2;
    box-shadow: .01rem .05rem .4rem .08rem $party-pale;
    color: $party-pale;
  }


  //chat section
  .chat-window {
    box-shadow: 0rem 0rem .3rem .1rem $party-pale;
    border: .02rem solid;
  }

  .chat-window .chat-body {
    background-color: $party-pale;
    
  }

  .chat-window .chat-header {
    background-color: transparent;
    color: $party-pale;
  }

  #other .message-content {
    background-color: $party-4;
    color: $dark-700
  }

  #you .message-content {
    background-color: $party-1;
    color: $party-pale
  }

  .chat-footer button {
    background-color: $party-1 !important;
    color: $party-pale;

    &:hover {
      background-color: lighten($party-1, 2%)  !important;
      box-shadow: .01rem .05rem .3rem .08rem $dark-700;
      transform: translateY(-.03rem) translateX(.03rem);
    }
  }

  //members
  .room-members {
    box-shadow: 0rem 0rem .3rem .1rem $party-pale;
    border: .02rem solid;
    color: $party-pale;

    h3 {
      color: $party-pale;
    }
    .add-member {
      background-color: $party-1;
      color: $party-pale;
      box-shadow: .01rem .03rem .03rem .06rem $party-pale;

      &:hover {
        background-color: $party-4;
        // color: $party-1;
        transform: translateY(-.05rem) translateX(.05rem);
        // box-shadow: .01rem .05rem .2rem .08rem $dark-400;
      }
        
    }

    .member-name {
      img {
        filter: contrast(120%);
        // filter: rotate(45deg);
        // filter: brightness(.97);
      }
    }

  }

  //add member
  .add-member-yes {
    background-color: $party-1;
    color: $party-pale;
    border: .4px solid $party-pale !important;
    &:hover {
      background-color: $party-4;
      // color: $party-pale;
      // color: lighten($rose-200, 5%);
    }
  }

  .add-member-no {
    background-color: darken($rose-200, 6%);
    border: .4px solid $party-pale !important;
    &:hover {
      background-color: darken($rose-200, 50%);
      color: lighten($rose-200, 5%);
    }
  }


  .name-error {
    color: $dark-700;
    // align-self: center;
    &:hover {
      transform: translateY(-.05rem) translateX(.05rem);
    }
  }


  // //create room

  .create-room {
    background-color: $party-1;
    box-shadow: .01rem .09rem .3rem .08rem $teal-000;
  }


  .create-room button {
    background-color: $party-pale !important;
    box-shadow: .01rem .1rem .4rem .08rem $teal-200;
    color: $party-2;
    &:hover {
      // background-color: lighten($lime-700, 6%)   !important;
      box-shadow: .01rem .09rem .3rem .08rem $teal-000;
      transform: translateY(-.03rem) translateX(.03rem);
      // color: $teal-900;
    }
  
  }


  .form-label {
    color: $party-pale;

  }

  .form-control {
    background-color: $party-pale;

  }

  .form-control:focus {
    background-color: $party-pale;

  }
  






}
