@use './abstracts/colors' as *;
@import './themes/dark';
@import './themes/light';
@import './themes/party';

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,600&family=Heebo:wght@200;400;600&family=Sue+Ellen+Francisco&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");



body {
  min-width: 100vh;
  min-height: 100vh;
  margin: 0%;
  padding: 0%;
}


.App-header {
  flex: 1;
  display: flex;
  overflow: auto;
  width: 100vw;
  // margin-left: 300px !important;
  // justify-content: space-between;
}

.box {
  display: flex;
  min-height: min-content;
  flex-direction: row;
  // justify-content: space-between;
  // flex-direction: column;
  justify-content: space-between;
}




.dashboard {
  display: flex;
  flex-direction: column;
  
}





.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  // background: rgb(237, 244, 250);
  // color: #212121;
  font-family: 'Heebo', sans-serif;
  // display: flex;
  // place-items: center;
}

h1, h2, h3 {
  font-weight: 600 !important;
  // text-transform: uppercase
}


.alert-danger {

  background-color: $rose-200 !important;
  color: $dark-700 !important;
  position: center;
  align-self: center;
  text-align: center;

}



//login form
.login {
  width: 40%;

  div {
    input {
      margin-bottom: 1rem;
      // width: 40%;
    }
  }
  .me-2, button {
    // background-color: purple;
    padding: .6rem;
    border-radius: 10%;
    border: 0;
    margin-bottom: 2rem;
    &:hover {
      transform: translateY(-.1rem) translateX(.1rem);
      box-shadow: 0rem .1rem .1rem .05rem $teal-000;
    }

  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  


}

.w-100 {
  .me-2, button {
    // background-color: purple;
    padding: .6rem;
    border-radius: 10%;
    border: 0;
    margin-bottom: 2rem;
    &:hover {
      transform: translateY(-.1rem) translateX(.1rem);
      box-shadow: 0rem .1rem .1rem .05rem $teal-000;
    }

  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

//delve banner
.banner {
  font-family: 'Expletus Sans', cursive;
  font-size: 5rem;
  display: flex;
  align-items: center;
  padding: 0rem 1.5rem;
  justify-content: space-between;
  h1 {
    font-size: 5rem;
  }
}

.theme__icons {
  padding: 1rem;
  position: relative;
  margin: 0;
  font-size: 1.5rem;

  i:hover {
    cursor: pointer;
  }
}

.fa-solid {
  border: .2rem solid;
  border-radius: 20%;
  padding: .4rem;
  margin: .8rem;
}


//welcome banner
.d-flex {
  padding: .5rem 2rem .3rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: 200 !important;
    font-size: 2rem;
    // font-family: 'Sue Ellen Francisco', cursive;
  }
}


.nav-banner.buttons {
  display:flex;

}

.nav-banner.buttons button {
  border: 0;
  border-radius: 5%;
  margin: .4rem .8rem;
  padding: .5rem;
  &:hover {
    transform: translateY(-.1rem) translateX(.1rem);
    box-shadow: 0rem .1rem .1rem .05rem $teal-000;
  }

}


//main container
.App-header {
  margin: 1rem;
  // padding: 0;
  // border: 0;
  width: 100vw;
}


//rooms sidebar
.sidebar-container {
  max-height: 70vh;
  // width:20%;
  overflow: auto;
  // overflow-y: scroll;
  // overflow-x: visible;
  // overflow: scroll hidden
  // z-index: 4;
}


.bg-success {
  border: 0;
  border-radius: 2%;
  margin: .4rem .8rem;
  width: 12rem;
  // resize: both;
}

.bg-success:hover {
  transform: translateY(-.2rem) translateX(.2rem);
  box-shadow: 0rem .2rem .2rem .1rem $dark-200;
}

.bg-primary {
  border: 0;
  border-radius: 4%;
  margin: .4rem .8rem;
  width: 12rem;
}

.bg-primary:hover {
  transform: translateY(-.2rem) translateX(.2rem);
  box-shadow: 0rem .2rem .2rem .1rem $dark-200;
}

.fa-trash {
  border: .1rem solid;
  padding: .3rem;
  margin: .6rem;
  margin-top: .1rem;
  position: relative;
  right: 4rem;

  &:hover {
    transform: translateY(-.2rem) translateX(.2rem);
    box-shadow: 0rem .2rem .2rem .1rem $dark-200;
  }
}

.delete-confirmation {
  position: absolute;
  z-index: 4;
  margin-top: -1rem;
  margin-left: .6rem;
  padding: 2rem;
  border: .02rem solid $dark-700;
  box-shadow: 0rem .2rem .2rem .1rem $dark-200;
  border-radius: 2%;
  font-size: 1.2rem;
  background-color: white;

  .yes-no {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

    button {
      border: 0;
      box-shadow: 0rem .2rem .2rem .1rem $dark-200;
      border-radius: 10%;
      padding: .2rem .7rem;
      // padding: .2 1rem;
      &:hover {
        transform: translateY(-.1rem) translateX(.1em);
        box-shadow: 0rem .2rem .2rem .1rem $dark-200;
      }

    }
  }
}



//middle section

.current-activity {
  display: flex;
  flex-direction: row;
  // justify-content: left;
  align-items: center;
  padding: 1rem;

}


.progress-bar {
  margin: 0 !important;
  padding-left: 1.5rem;
  border: 0 !important;
  // color: blue !important;
  background-color: transparent !important;
  h5 {
    margin-bottom: 0 !important;
  }
}

.mark-complete {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 2.9rem;
  border-radius: 50%;
  // text-align: center;
  font-size: 2.5rem;
  border: .7rem double;
  margin-right: 2rem;
  // margin-top: .5rem;
  background-color: transparent;
}

.great-work {
  line-height: 2.2rem;
  font-size: 3rem;
  border: 0;
  margin-right: 1.3rem;
  background-color: transparent;
  animation-name: spin-star;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 

  @keyframes spin-star {
    from {
        transform:rotate(0deg);
    }
    to  {
        transform:rotate(360deg);
    }
    }
}


.room-change-message {
  width: 80vw;
  font-size: 2rem;
  z-index: 1;
  position: absolute;
  padding: 3rem;
  border-radius: 1%;
  align-self: center;
  text-align: center;
  
}




.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}



//chat container
.chat-window {
  width: 20rem;
  height: 100%;
  // margin-top: -4.8rem !important;
  border-radius: .2rem 0 .2rem .2rem;
  margin: 0 0 0 4rem;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  // height: 45px;
  // border-radius: 6px;
  // background: #263238;
  position: relative;
  border-radius: .2rem 0 0 0;
  cursor: default;
  font-size: 1.4rem;

  // background-color: blue !important;
}
.chat-window .chat-header p {
  display: block;
  padding-left: 1em;
  margin: 0;
  // color: #fff;
  font-weight: 700;
  line-height: 3rem;
  // background-color: blue !important;
}

.message-container {
  padding-bottom: .5rem;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border-bottom: .08rem solid $dark-700;
  border-top: 0;
  background: #fff;

  position: relative;
  // background-color: blue !important;
  
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: blue !important; 
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;

}
.chat-window .chat-body .message {
  height: auto;
  padding: 1rem 1rem;
  // padding-top: 
  padding-bottom: 0;
  display: flex;

}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 2rem;
  max-width: 120px;
  max-width: 7.5rem;
  // background-color: #43a047;

  // color: white;
  display: flex;
  align-items: center;
  margin-right: .2rem;
  margin-left: .2rem;
  padding: .4rem .6rem;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: default;
  // background-color: blue !important;
}

.link_message *:hover {
  cursor: pointer;
  // background-color: blue;
  text-decoration: underline blue;
}

.link_message *:active {
  cursor: pointer;
  // background-color: blue;
  text-decoration: underline blue;
  font-weight: 700;
}

.message-content p {
    align-items: center;
}

#you {
  justify-content: flex-start;
  // background-color: blue !important;
}

#you .message-content {
  justify-content: flex-start;
  border-radius: .9rem .9rem 0 .9rem;
  // background-color: blue !important;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: .5rem;
  margin-top: .2rem;
  // background-color: blue !important;
}

#other {
  justify-content: flex-end;
  // background-color: blue !important;
}

#other .message-content {
  justify-content: flex-end;
  border-radius: .9rem .9rem .9rem 0;
  // background-color: cornflowerblue;
  // background-color: blue !important;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: .6rem;
  margin-top: .2rem;
  // background-color: blue !important;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: .7rem;
  // background-color: blue !important;
}

.chat-window .chat-footer {

  height: 2.2rem;
  width: auto;
  // padding: 0 1em 0 2em;
  // border: 1px solid #263238;
  // border-top: none;
  display: flex;
  // border-radius: .2rem 0 .2rem .2rem;
  // background-color: blue !important;
  // border: .08rem solid $dark-700;
  // border-radius: 0 0 .2rem .2rem;
  // border-top: 0;
}

.chat-window .chat-footer input {
  height: 100%;
  width: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: .05rem dotted;
  border-top: .1rem;
  border-radius: .2rem 0 .2rem .2rem;
  outline: 0;
  // border-radius: .2rem 0 .2rem .2rem;

  // outline: none;
  // font-family: "Open Sans", sans-serif;
  // background-color: blue !important;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  border-radius: .2rem 0 .2rem .2rem;
  // color: lightgray;
  // background-color: blue !important;
}

// .chat-window .chat-footer button:hover {
//   color: #43a047;
//   // background-color: blue !important;
// }
.hide {
  opacity: 0 !important;
}


//about us

.about-shadow {
  background-color: rgba(50,50,50,0.9);
  // position: absolute;
  // width: 100vw;
  // height: 100vh;
  z-index: 4;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */

  /* just for styling to see the limits */
  // border: 2px dashed red;
  box-sizing: border-box;
}

.about-container {
  background-color: $party-2;
  position: absolute;
  width: 100%;
  z-index: 5;
  padding-bottom: 1.5rem;
  opacity: 100%;

  animation-duration: 0.3s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.about-us {
  display: flex;
  justify-content: space-around;

}




.profile {
  border: .2rem solid $party-pale;
  border-radius: 5%;
  width: 20rem;
  padding: 1rem;
  h1 {
    font-size: 2rem;
    color: $party-pale;
  }
  h3 {
    font-size: 1.5rem;
    color: $party-pale;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  filter: sepia(10%) brightness(103%);
}

.profile-links {
  background-color: $party-pale;
  display:flex;
  // align-items: center;
  justify-content: space-around;
  height: 2.8rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 20%;
  color: $party-2;

  a {
    border: .3rem solid $party-pale;
    padding: 0;
    margin: 0;
    border-radius: 20%;
    color: $party-2;
    &:hover {
      background-color: $party-2;
      box-shadow: .01rem .05rem .3rem .08rem $dark-700;
      transform: translateY(-.03rem) translateX(.03rem);
      color: $party-pale;
      // color: $teal-900;
    }
    // border: 0;
  }
}


.close {
  height: 1.4rem;
  width: 1.4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  background-color: $party-pale;
  color: $party-2;
  border: 0;
  margin: .5rem;
  font-size: 1.6rem;
  
}



// create room

.create-room-shadow {
  background-color: rgba(50,50,50,0.8);
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */

/* just for styling to see the limits */
  // border: 2px dashed red;
  box-sizing: border-box;


  }


.create-room {
  width: 80vw;
  background-color: white;
  z-index: 2;
  position: absolute;
  padding: 1rem;
  border-radius: 1%;
}

.create-room-form {
  border: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .form-entry {
    padding: .3rem 0;
    input {
      width: 20rem;
      border: 0;
      border: .06rem solid;
      &:focus {
        outline: 0;
        border: .1rem solid;
      }
    }

  }

  button {
    border: .06rem solid;;
    border: 0;
    border-radius: 3%;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-left: .1rem; 
    right: 10rem !important;
    
  }

  h1 {
    border-bottom: .1rem solid;
  }

}


.create-room .back-button {
  border: 0;
  border-radius: 5%;
  padding: .3rem;
  line-height: 80%;
  font-size: 1.2rem;

  
  span {
    font-size: 3rem;
    line-height: 1.6rem;
  }
}


//room members sidebar

.room-members {

  border-radius: 0 .2rem .2rem 0;
  box-shadow: .01rem .05rem .4rem .08rem $teal-700;
  height: 14rem;
  width: 10rem;
  overflow-wrap: break-word;
  font-size: .8rem;
  display:flex;
  flex-direction: column;
  align-items: left;
  background-color: transparent;


  .room-members-header {
    background-color: transparent;
    // font-size: .2rem !important;
    text-align: center;
    border-radius: 0 .2rem 0 0;
    background-color: transparent;
    padding-top: .6rem;
    padding-bottom: .13rem;
    position: relative;
    // margin-bottom: -.09rem;

    h3 {
      font-size: 1.5rem;
    }
  }

  .member-name {
    padding-left: .7rem;
    padding-bottom: .1rem;
  }

  .add-member {
    height: 1.1rem;
    width: 1.1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: $dark-700;
    border: 0;
    margin: .5rem;
    margin-left: .6rem;
    font-size: 1.1rem;
    box-shadow: .01rem .05rem .05rem .08rem $dark-400;
    &:hover {
      transform: translateY(-.05rem) translateX(.05rem);
      box-shadow: .01rem .04rem .2rem .05rem $dark-400;
    }
    
  }

  .add-member-yes {
    margin-left: .9rem;
    border: 0;
    border-radius: 10%;
    box-shadow: .01rem .05rem .05rem .08rem $dark-400;
    &:hover {
      transform: translateY(-.05rem) translateX(.05rem);
      box-shadow: .01rem .04rem .2rem .05rem $dark-400;
    }
  }

  .add-member-no {
    margin-left: 1.1rem;
    border: 0;
    border-radius: 10%;
    box-shadow: .01rem .05rem .05rem .08rem $dark-400;
    &:hover {
      transform: translateY(-.05rem) translateX(.05rem);
      box-shadow: .01rem .04rem .2rem .05rem $dark-400;
    }
  }

  input {
    margin-left: .7rem;
    margin-bottom: .5rem;
    width: 85%;
    border: 0;
    border-radius: 4%;
    box-shadow: .03rem .05rem .08rem .08rem $blue-900;
    // outline: 0 !important;
  }

  .name-error {
    padding: 0 .5rem;
    margin-left: .7rem;
    margin-top: .2rem;
    width: 85%;
    overflow-wrap: break-word;
    word-break: break-word;
    background-color: $rose-200;
    text-align: center;
    box-shadow: .01rem .04rem .2rem .05rem $dark-400;
    // align-self: center;
    &:hover {
      transform: translateY(-.05rem) translateX(.05rem);
    }
  }

}





.smiley-1 {
  position: absolute;
  left: 35%;
  backface-visibility: hidden;
  transform: rotate(-10deg);
  animation-name: party;
  animation-duration: 1.9s;
  animation-delay: .25s;
  animation-iteration-count: 4;
  opacity: 0;
}

.smiley-2 {
  opacity: 0;
  position: absolute;
  left: 65%;
  backface-visibility: hidden;
  transform: rotate(-10deg);
  animation-name: party;
  animation-duration: 1.8s;
  animation-delay: .5s;
  animation-iteration-count: 4;
}

.smiley-3 {
  opacity: 0;
  position: absolute;
  left: 50%;
  backface-visibility: hidden;
  transform: rotate(-10deg);
  animation-name: party;
  animation-duration: 1.9s;
  animation-iteration-count: 4;
}




@keyframes party {
  0% {
    animation-timing-function: ease-out;
    transform: rotate(-10deg) translateY(0px);
    opacity: 1;
  }
  12.5% {
    animation-timing-function: ease-in;
    transform: rotate(-10deg) translateY(-40px);
  }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(-10deg) translateY(0px);
  }
  37.5% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) translateY(-40px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: rotate(10deg) translateY(0px);
  }
  62.5% {
    animation-timing-function: ease-in;
    transform: rotate(10deg) translateY(-40px);
  }
  75% {
    animation-timing-function: ease-out;
    transform: rotate(10deg) translateY(0px);
  }
  87.5% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) translateY(-40px);
  }
  100% {
    opacity: 1;
  }
}

.click-to-watch {
  color: rgba(135, 132, 132, 0.827);
  font-size: .8em; 
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 10em;
    margin-left: 2em;
  }
  .welcome-message {
    display: flex;
    align-items: center;
    font-size: 2em;

  }

  .homepage-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size:1.5em;

    div {
      width: 12em;
    }
  }
  
  .app-name {
    font-family: 'Expletus Sans', cursive;
    font-size: 7rem;
    margin-left: 10px;
  }
}

.homepage-no-rooms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 17%;

  .welcome-message {
    display: flex;
    align-items: center;
    font-size: 2em;

  }

  .homepage-message-no-rooms {
    display:flex;
    flex-direction: column;
    font-size: 1.4em;
    text-align: center;

    button {
      margin: 30px;
      width: 10em;
      padding: 0.8em 0.5em;
      border: 0.1em solid rgba(60, 60, 103, 0.69);
      border-radius: 5px;
      background-color: $teal-000;
      align-self: center;
    }
    button:hover {
      box-shadow: 0 0 4px black;
    }
    button:active {
      background-color: teal;
      color: white;
    }
  }
  
  .app-name {
    font-family: 'Expletus Sans', cursive;
    font-size: 7rem;
    margin-left: 10px;
  }
}

.dashboard {
  width:80%;
}



